body {
  margin: 0;
}

canvas {
  background: rgba(0, 0, 0, 0.918);
}

#scorekeeper {
  position: absolute;
  border: 2px solid white;
  width: 4rem;
  height: 4rem;
  right: 1rem;
  top: 1rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: "Crash Numbering Font";
  user-select: none;
}
